@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*,*:before,*:after{
	padding: 0;
	margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
	height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.screen{
    height: 100vh;
}

.bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url('img/bg/flowers.png') 0 0 / cover no-repeat;
}

.screen1__content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
}

.title{
    display: inline-block;
    margin: 15% auto 0 auto;
}

.subtitle{
    display: inline-block;
    width: 82%;
    margin: 0 auto 0 auto;
    padding: 20px;
    border-radius: 7%;
    background: linear-gradient(45deg, rgba(255, 226, 159, 1) 0%, rgba(255, 169, 159, 0.5) 48%, rgba(255, 113, 154, 0.1) 100%);
}



h2{
    font-size: 120px;
    text-align: center;
}

p{
    font-size: 45px;
    text-align: justify;
}

h2, p{
    font-family: Nunito;
    margin: 20px;
    color: #2b2c34;
}

.screen2{
    background: white;
}

/*text-animation starts*/
.anim{
	/*transform: translate(0px, 100px);*/
	opacity: 0;
	transition: all 4s ease 0s;
}

._active{
	transform: translate(0px, 0px);
	opacity: 1;
}

.subtitle ._active{
    transition: all 4s ease 0.7s;
}
/*text-animation ends*/