@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

*{
	padding: 0;
	margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
    font-family: Nunito;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.preloader{
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    width: 100%;
    position: fixed;
    height: 100vh;
    background: white;
    z-index: 5;
}

.circle{
    display: inline-block;
    width: 171px;
    height: 171px;
}

.done{
    opacity: 0;
    transition: all 1s ease 0s;
}

.bg1{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url('img/bg/flowers.png') 0 0 / cover no-repeat;
    background-position: center;
    z-index: -1;
}

.screen{
    display: flex;
    flex-direction: column;
}

.screen1__content{
    height: 100vh;
    justify-content: center;
}

.screen3__content{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 95%;
    margin: 200px auto 0 auto;
    border-radius: 50px;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.815);
    background: url('img/bg/quote_bg22.jpg') 50% 50% / cover no-repeat;
}

.quote{
    display: inline-block;
    width: 80%;
    padding: 30px;
    margin: 50px auto 0px auto;
    font-style: italic;
    border-radius: 20px;
    text-align: justify;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 48%, rgba(255, 255, 255, 0.4) 100%);
}

q{
    font-size: 2.5rem;
    line-height: 2.8rem;
    letter-spacing: 2px;
    
    background-clip: content-box;
    background: -webkit-linear-gradient(180deg, rgb(0, 0, 0), #0a0a0a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.author{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    margin-left: 60%;
    font-weight: 600;
    color: black;
}

.img{
    width: 78%;
    height: 70%;
    margin: 30px auto;
    padding: 3%;
    border-radius: 7%;
    box-shadow: 15px 15px 25px rgba(241, 19, 19, 0.815);
}

img{
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

.images:last-child{
    margin-bottom: 0;
}

.title{
    display: inline-block;
    margin: 0 auto 200px auto;
}

.subtitle{
    font-size: 3rem;
    
    display: inline-block;
    width: 85%;
    margin: 0 auto;
    padding: 35px;
    border-radius: 7%;
    background: linear-gradient(45deg, rgba(255, 226, 159, 0.7) 0%, rgba(255, 169, 159, 0.7) 48%, rgba(255, 113, 154, 0.7) 100%);
}

h2{
    font-size: 7.3rem;
    text-align: center;
}

.photos__goes{
    font-size: 3rem;
    border-radius: 30px;
    text-transform: uppercase;
    display: inline-block;
    width: 84%;
    padding: 35px;
    margin: 0 auto;
    background: linear-gradient(90deg, #FC5C7D   0%, #6A82FB 100%);
}

.gray{
    color: white;
    text-align: center;
}

span{
    opacity: 0;

    transition: all 2s ease 0s;
}

span._active{
    opacity: 1;

    background-clip: content-box;
    background: -webkit-linear-gradient(-90deg, rgb(253, 5, 46), #ffa6a6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fadeOut{
    opacity: 0;

    transition: all 2s ease 1s;
}

.fadeIn{
    opacity: 1;

    background-clip: content-box;
    background: -webkit-linear-gradient(45deg, rgb(75, 0, 250), #fc0101);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}